<div class="container" style="height: 80vh;">
    <div class="d-flex justify-content-center align-items-center flex-column" style="height: 100%;">
    <h1 class="text-center">Reiniciar Cantidad De Turnos</h1>
    <h3 class="text-center mb-5">Administradores</h3>
        <div class="text-center mb-3">
            <form asp-action="ReiniciarCantidadTurnos" asp-controller="Servicios" method="post">
                <button type="submit" class="btn btn-success">Reiniciar La Cantidad De Turnos</button>
            </form>
        </div>
    </div>
</div>