@model Usuario

<div class="container">
    <div class="row">
        <div class="d-flex justify-content-end mb-4">
            <a class="btn btn-light btn-sm" asp-controller="Home" asp-action="Index">Regresar</a>
        </div>
        <div class="text-center">
                <img src="~/images/logo.png" class="rounded mb-2" alt="imaagen-hospital">
            </div>
    </div>
    <div class="row">
        <div class="col-md-8 d-grid mx-auto">
            <p class="h2 text-center fw-bold my-2">Por favor llene el siguiente formulario para generar turno</p>
            <div class="card mt-3">
                <div class="card-body">
                    <form asp-action="Index" asp-controller="Usuarios" method="post">
                        <div class="from-group mb-3">
                            <label class="mb-2"><b>Seleccione el tipo de documento:</b></label>
                            <select class="form-select" name="tipoDocumento" @* asp-for="IdTipoDocumento" *@>
                                <option selected disabled>Seleccionar</option>
                                <option value="1">Registro civil</option>
                                <option value="2">Tarjeta de identidad</option>
                                <option value="3">Cédula de ciudadanía</option>
                                <option value="4">Pasaporte</option>
                                <option value="5">Cédula extranjera</option>
                            </select>
                        </div>

                        <div class="from-group mb-3">
                            <label class="mb-2"><b>Atencion Prioritaria: </b></label>
                            <select class="form-select" name="prioritario" @* asp-for="IdAtencionPrioritaria" *@>
                                <option selected disabled>Seleccionar</option>
                                <option value="">No tengo ninguna condicion</option>
                                <option value="1">Embarazada</option>
                                <option value="2">Discapacitado</option>
                                <option value="3">Tercera edad</option>
                                <option value="4">Lactantes</option>
                                <option value="5">Otros</option>
                            </select>
                        </div>

                        <div class="from-group">
                            <label class="mb-2"><b>Ingrese su documento:</b></label>
                            <input type="text" name="documento" class="form-control" placeholder="Ingrese su documento" asp-for="Documento" required>
                        </div>

                        <div class="d-grid col-8 mx-auto mt-4 mb-3">
                            <button class="btn btn-primary me-4" type="submit">Ingresar</button>
                        </div>
                        @if(ViewBag.Error != null){
                            <div class="form-group">
                                <div class="alert alert-danger text-center" role="alert">
                                    @ViewBag.Error
                                </div>
                            </div>
                        }
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>