<div class="d-flex align-items-center justify-content-center">
    <div class="d-flex flex-column justify-content-around">
        <div class="d-flex flex-column align-items-center">
            <h1>Lista de turnos</h1>
            <p>Asesor "Nombre"</p>
            <div>
                <form method="post">
                    <select class="form-select">
                        <option value="predeterminado" selected disabled>Cambiar cargo</option>
                        <option value="solicitudCitas">Solicitud de citas</option>
                        <option value="pagosFactura">Pagos de factura</option>
                        <option value="autorizacionMedicamentos">Autorización de medicamentos</option>
                        <option value="informacionGeneral">Información general</option>
                    </select>
                    <button class="btn btn-primary" type="submit">Cerrar sesion</button>
                </form>
            </div>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr class="table-secondary">
                        <th>Id</th>
                        <th>Turno</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>AP-001</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>IS-005</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>