@model Asesor
<div class="container">
    <div class="row">
        <div class="col-md-8 d-grid mx-auto">
            <p class="h1 text-center fw-bold my-2">Hospital la misericordia</p>
            <h1 class="text-center">Asesores</h1>
            <div class="card mt-3">
                <div class="card-body">
                    <form asp-action="Login" asp-controller="Asesores" method="post">
                        <div class="from-group mb-3">
                            <label class="mb-2" for="usuario"><b>Ingrese su correo:</b></label>
                            <input class="form-select" type="text" id="correo" name="correo" asp-for="Correo" required/>
                        </div>
                        <div class="from-group mb-3">
                            <label class="mb-2" for="contrasena"><b>Ingrese su documento:</b></label>
                            <input class="form-select" id="documento" name="documento" asp-for="Documento" required />
                        </div>
                        <div class="text-center">
                            <button class="btn btn-success" type="submit">Ingresar</button>
                        </div>
                    </form>
                    <div class="mt-3" style="color: red;">@ViewBag.Error</div>
                </div>
            </div>
            </p>
        </div>
    </div>
</div>