<div class="d-flex align-items-center justify-content-center">
    <div>
        <h1>Inicio de Sesión</h1>
        <p>Asesores</p>
        <div class="border cajonero">
            <form method="post">
                <div>
                    <label for="usuario">Ingrese su correo:</label>
                    <input type="text" id="correo" required />
                </div>
                <div>
                    <label for="contrasena">Ingrese su documento:</label>
                    <input type="number" id="documento" required />
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>