html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* html {
  position: relative;
  min-height: 100%;
} */
/* body {
  margin-bottom: 60px;
  background-image: url('https://wallpapercave.com/wp/wp12386812.jpg');
  background-size: cover;
  background-position: center; 
  height: 100vh;
}  */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {  
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;  
  height: 100vh; 
  background: #65f4cd;  
  background: -moz-linear-gradient(left, #65f4cd 0%, #4799e9 100%); 
  background: -webkit-linear-gradient(left, #65f4cd 0%,#4799e9 100%);
  background: linear-gradient(to right, #65f4cd 0%,#4799e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65f4cd', endColorstr='#4799e9',GradientType=1 );
}

/* .buttons {
  display: flex;
  flex-direction: row;
  gap: 20px; 
} */

.btn {
  padding: 15px 40px;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-sm {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #6de27f;
  color: black;
  
}

.turno {
  font-size: 6rem;
}

.table-danger{
  background-color: #FFCC99;
}

@media (max-width: 576px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    padding: 30px;
  }

  h1 {
    font-size: 2rem;
  }
}