@model Turno

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="text-center mt-3">
                <img src="~/images/logo.png" class="rounded mb-5" alt="imaagen-hospital">
            </div>
            <div class="card">
                <div class="card-header">
                    <p class="h2 fw-bold text-center">Seleccione el servicio deseado presionando el botón</p>
                </div>
                <div class="card-body my-4">
                    <form asp-action="Categorias" asp-controller="Turnos" method="post">
                        <div class="d-flex flex-column text-center">
                            <div class="from-control mb-3 d-grid col-8 mx-auto">
                                <button class="btn btn-primary btn-" type="submit" name="servicio" value="1">Solicitar cita</button>
                            </div>
                            <div class="from-control mb-3 d-grid col-8 mx-auto">
                                <button class="btn btn-warning" type="submit" name="servicio" value="2">Pago de facturas</button>
                            </div>
                            <div class="from-control mb-3 d-grid col-8 mx-auto">
                                <button class="btn btn-secondary" type="submit" name="servicio" value="3">Autorización de medicamentos</button>
                            </div>
                            <div class="from-control mb-3 d-grid col-8 mx-auto">
                                <button class="btn btn-success" type="submit" name="servicio" value="4">Información en general</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>