@model Turno

<div class="container">
    <div>
        <h1 class="text-center mb-8 fw-bold display-1 text-gradient text-shadow text-animate mb-5">Selecciona el tipo de
            servicio</h1>
    </div>
    <div class="d-flex mx-auto">
        <form asp-action="Categorias" asp-controller="Turnos" method="post">
            <div class="d-flex gap-2 justify-content-center">
                <div class="from-control mb-3 ">
                    <button class="btn btn-primary" type="submit" name="servicio" value="1">Solicitar cita</button>
                </div>
                <div class="from-control mb-3">
                    <button class="btn btn-warning" type="submit" name="servicio" value="2">Pago de facturas</button>
                </div>
                <div class="from-control mb-3">
                    <button class="btn btn-secondary" type="submit" name="servicio" value="3">Autorización de
                        medicamentos</button>
                </div>
                <div class="from-control mb-3">
                    <button class="btn btn-success" type="submit" name="servicio" value="4">Información en
                        general</button>
                </div>
            </div>
        </form>
    </div>
</div>