<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <img src="~/images/logo.png" class="rounded mb-3" alt="imaagen-hospital">
            </div>
            <div class="card mt-2">
                <div class="card-header">
                    <p class="display-4 fw-bold text-center my-3">¡Su turno ha sido generado!</p>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column justify-content-center align-items-center" >
                        <p class=" text-center">@ViewBag.ServicioElegido</p>
                        <div class="turno">
                            <p class="fw-bold text-body-dark text-center">@ViewBag.TurnoFinal</p>
                        </div>
                        <p class="h5 text-center mb-4">@DateTime.Now</p>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <div class="form-control mb-4 text-center">
                                @{var btnFechaEntregaTurno = Context.Session.GetString("HoraEntregaTurno");}
                                @if (btnFechaEntregaTurno != null){
                                    <div class="m-2">
                                        <form asp-action="EntregarTurno" asp-controller="Turnos" method="post">
                                            <button class="btn btn-primary" type="submit" name="RecogerTurno" value="turnoEntrega">Recibir Turno</button>
                                        </form>
                                    </div>
                                @if(TempData["MensajeConfirmacion"] != null){
                                    <div class="alert alert-success my-2" role="alert">
                                        @TempData["MensajeConfirmacion"]
                                    </div>
                                }
                                } else {
                                <div class="m-2">
                                    <form asp-action="EntregarTurno" asp-controller="Turnos" method="post">
                                        <button class="btn btn-primary" type="submit" name="RecogerTurno" value="turnoEntrega">Recibir Turno</button>
                                    </form>
                                </div>
                            
                                }
                            </div>
                            <div class="form-control mb-5 text-center">
                                <div class="m-2">
                                    <form asp-action="Logout" asp-Controller="Turnos" method="post">
                                        <button class="btn btn-primary" type="submit" style="width: 250px;">Volver al inicio</button>
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

